h1 {
  font-size: 40px;
}

h2 {
  font-size: 22px;
  font-family: Calibri;
}

h5 {
  font-size: 30px;
}

p {
  font-size: 20px;
  font-family: Calibri;
}

li {
  font-size: 20px;
  font-family: Calibri;
}

p + ul {
    margin-top: -15px;
}